name: server lint

on:
  push:
    paths:
      - 'server/**'
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
    clippy:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4
        - name: Run clippy
          run: cargo clippy --all-targets --all-features -- -D warnings

    fmt:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4
        - name: Check formatting
          run: cargo fmt --all -- --check
